<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<!-- Affiche un message de bienvenue avec le nom de l'utilisateur authentifié -->
<h2>Bienvenue, <span th:text="${#authentication.name}"></span> !</h2>

<!-- Message indiquant la page actuelle -->
<p>Ceci est la page d'accueil.</p>

<!-- Lien vers la page de profil -->
<a th:href="@{/profile}">Profil</a><br>

<!-- Lien vers la page d'ajout de relations (contacts) -->
<a th:href="@{/addContact}">Ajouter Relation</a><br>

<a th:href="@{/transferer}">Transférer</a><br>


<!-- Lien pour se déconnecter -->
<a th:href="@{/logout}">Se déconnecter</a><br>

</body>
</html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
